In [1]:
!ls

Assignment_1.ipynb            UIDAI-ENR-DETAIL-20170308.csv
Assignment_2.ipynb            Untitled.ipynb

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv("UIDAI-ENR-DETAIL-20170308.csv")

/Users/rushikesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Finding null values

In [5]:
dataset.isnull().any()

Registrar                            False
Enrolment Agency                     False
State                                False
District                             False
Sub District                         False
Pin Code                             False
Gender                               False
Age                                  False
Aadhaar generated                    False
Enrolment Rejected                   False
Residents providing email             True
Residents providing mobile number    False
dtype: bool

In [6]:
dataset['Residents providing email'].isnull().sum()

31

### There are 31 null values in the datset

In [7]:
dataset['Residents providing email'].mode()

0    0.0
dtype: float64

In [11]:
dataset['Residents providing email'].replace(np.nan,0,inplace=True)

In [13]:
dataset.isnull().sum()

Registrar                            0
Enrolment Agency                     0
State                                0
District                             0
Sub District                         0
Pin Code                             0
Gender                               0
Age                                  0
Aadhaar generated                    0
Enrolment Rejected                   0
Residents providing email            0
Residents providing mobile number    0
dtype: int64

### Now there are no null values

In [14]:
dataset.head()

,Registrar,Enrolment Agency,State,District,Sub District,Pin Code,Gender,Age,Aadhaar generated,Enrolment Rejected,Residents providing email,Residents providing mobile number
0,Allahabad Bank,A-Onerealtors Pvt Ltd,Uttar Pradesh,Allahabad,Meja,212303,F,7,1,0,0.0,1
1,Allahabad Bank,Asha Security Guard Services,Uttar Pradesh,Sonbhadra,Robertsganj,231213,M,8,1,0,0.0,0
2,Allahabad Bank,SGS INDIA PVT LTD,Uttar Pradesh,Sultanpur,Sultanpur,227812,F,13,1,0,0.0,1
3,Allahabad Bank,Sri Ramraja Sarkar Lok Kalyan Trust,Uttar Pradesh,Shamli,Shamli,247775,M,6,1,0,0.0,1
4,Allahabad Bank,Transmoovers India,Uttar Pradesh,Gorakhpur,Sahjanwa,273001,M,8,1,0,0.0,1

### normalized age

In [26]:
normage=(dataset.Age- np.min(dataset.Age))/(np.max(dataset.Age) - np.min(dataset.Age))
print("The normalisation scale down to " + str(np.max(normage)) +":" +str(np.min(normage)) )

The normalisation scale down to 1.0:0.0

## Normlisation using Z-score

In [27]:
zage=(dataset.Age-np.mean(dataset.Age))/np.std(dataset.Age)
print("The Z-Socre scale down to " + str(np.max(zage)) +":" +str(np.min(zage)) )

The Z-Socre scale down to 5.2601668304527385:-1.0544543997243536